.header-logo {
    font-family: monospace;
    font-size: 40px;
    font-weight: bolder;
    float: left;
    margin: 10px 40px;
}

.header-list li {
    font-family: monospace;
    font-size: 26px;
    float: right;
    list-style: none;
    margin: 20px 20px;
}

header {
    background-color: #4E9F3D;
    color:ivory;
    height: 80px;
    margin-bottom: 15px;
}

.drawer {
    background-color: #C1F4C5;
    font-family: monospace;
    font-size: 30px;
    color: #4E9F3D;
    font-weight: 550;
    height: 650px;
    width: 20%;
    padding-top: 5px;
    padding-right: 30px;
    padding-left: 30px;
    float: left;
}

.main {
    font-family: monospace;
    font-size: 30px;
    align-content: center;
    margin-top: 40px;
    width: 100%;
}

th, td {
    font-size: 18px;
}

table, th, td {
    border: 1px solid #4E9F3D;
    margin-left: auto;
    margin-right: auto;
}

.main button {
    font-size: 24px;
    margin: 15px;
    width: 550px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

a {
text-decoration: none;
}

.inputPemain {
    font-family: monospace;
    color: #65C18C;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.inputPemain input, label, input[type="number"], input[type="id"], input[type="text"], button  {
    font-size: 24px;
    margin: 15px;
    width: 550px;
    height: 50px;
}

/* Chrome, Safari, Edge, Opera */
.removeSpinner::-webkit-outer-spin-button,
.removeSpinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.removeSpinner[type=number] {
    -moz-appearance: textfield;
}